## Import Libraries

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [2]:
pwd= os.getcwd()

In [3]:
df1 = pd.read_csv(pwd + "/_202304051604.csv")
df_countrytiers = pd.read_excel(pwd + "/Tier1_List.xlsx")
df_managerslist = pd.read_excel(pwd + "/ManagersList.xlsx")
df_campmanagerslist = pd.read_excel(pwd + "/CampManagersList.xlsx")

In [4]:
index = df1[ (df1['COST'] == 0) & (df1['REVENUE'] ==0) ].index
df1.drop(index , inplace=True)

### Merge two strings into ONE - suite and workspace

In [5]:
df1.pivot_table(['COST','REVENUE','Profit'], index='DATE', aggfunc='sum', margins=True)

               COST  Profit  REVENUE
DATE
2023-04-04  1658.49  201.56  1860.05
All         1658.49  201.56  1860.05

#### Merge CountryList

In [6]:
df_merge_1 = pd.merge(df1, df_countrytiers, on='Country', how='left')

KeyError: 'Country'

In [ ]:
df_merge_1['Tier'] =  df_merge_1['Tier'].fillna('NO')

In [ ]:
df_merge_1.pivot_table(['COST','REVENUE'], index='Tier', aggfunc='sum', margins=True)

In [ ]:
#df_merge_2 = pd.merge(df_merge_1, df_campmanagerslist, on='Label', how='left')

In [ ]:
#df_merge_2.pivot_table(['COST','REVENUE'], index='Team Member', aggfunc='sum', margins=True)

#### Merge ManagersList

In [ ]:
#df_merge_2 = pd.merge(df_merge_1, df_managerslist, on='Site', how='outer')

In [ ]:
#df_merge_2['Tier'] =  df_merge_2['Tier'].fillna('NO')

In [ ]:
#df_merge_2.pivot_table(['COST','REVENUE'], index='Manager', aggfunc='sum', margins=True)

#### Spend Checklist

In [ ]:
#df_merge_2['Spend above $5'] = np.where(df_merge_2['COST']>= 5, True, False)

In [ ]:
#df_merge_2.pivot_table(['Campaign_Name'], index='Spend above $5', aggfunc=lambda x: len(x.unique()), margins=True)

In [ ]:
#df_merge_2.pivot_table(['Campaign_Name'], index='Tier', aggfunc=lambda x: len(x.unique()), margins=True)

In [7]:
df1.to_excel("FAA_RAWDATA_April_04-FINAL.xlsx", index=False)

In [ ]:
#df1.groupby('DATE')['COST', 'REVENUE'].sum()

In [ ]:
#words = ['suite':'Cat 1', 'video':'Cat 1','ads', 'cloud', 'project', 'other', 'marketing','gcp','advertising']

In [ ]:
df_merge_1.pivot_table(index=['Country'], 
                       columns='DATE',
                       values= ['REVENUE'], 
                       aggfunc='sum', 
                       margins=True,
                       margins_name='Grand Total')

In [ ]:
#table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
#...                     aggfunc={'D': np.mean,
#...                              'E': np.mean})