### Heading 1

In [4]:
## 1. Import Libraries

import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
pwd= os.getcwd()

In [ ]:
df1 = pd.read_csv(pwd + "/_202301191310.csv")

In [2]:
pd.read_csv?

Object `pd.read_csv` not found.

In [ ]:
## Merge
df_merge = pd.merge(df1, df2, on='Country', how='outer')

In [ ]:
## Mark columns with certain condition
index = df1[ (df1['COST'] == 0) & (df1['REVENUE'] ==0) ].index

## Drop columns
df1.drop(index , inplace=True)
df1.drop(columns=['Label', 'COST','REVENUE', 'Cat1', 'Cat2', 'is_duplicate?', 'Cat3','Category'])

In [ ]:
#Pivot_Table
df1.pivot_table('Campaign_Query', index='Site', aggfunc='count', margins=True)

df1.pivot_table(['Campaign_Name'], index='Site', aggfunc=lambda x: len(x.unique()), margins=True)

In [ ]:
#Export_as_Excel
df1.to_excel("Categories_FinalOutput_Oct22-Jan23.xlsx", index=False)

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
import xlsxwriter
writer = pd.ExcelWriter('ALL Domains 16 January_detailed.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
out_dropcolumns.to_excel(writer, sheet_name='All_Data',index=False) 
#df_receptix_com.to_excel(writer, sheet_name='receptix.com',index=False)
df_receptix_us.to_excel(writer, sheet_name='receptix.us',index=False)
df_receptix_uk.to_excel(writer, sheet_name='receptix.uk',index=False)
df_receptix_de.to_excel(writer, sheet_name='receptix.de',index=False)
df_jnee_com.to_excel(writer, sheet_name='jnee.com',index=False)
df_jnee_us.to_excel(writer, sheet_name='jnee.us',index=False)
df_jnee_uk.to_excel(writer, sheet_name='jnee.uk',index=False)
df_jnee_in.to_excel(writer, sheet_name='jnee.in',index=False)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
#NUMPY Where
df1['Cat1'] = np.where(df1.Campaign_Query.notnull(), '', 'NoKeyword')

### 5. Identify first instance of a duplicate and classify as 'Unique' and remaining duplicates as 'Duplicate'
df1['Cat3'] = np.where(df1['Campaign_Query'].duplicated(keep='first'), 'Duplicate', '')

In [1]:
df1.head()
df1.tail()
df1.describe()
df1.dtypes #alternate df.info()
df1.columns

df1['Category'].value_counts()
df1.sort_values('Campaign_Query',ascending=True) # Sort_Values by column

SyntaxError: invalid syntax (1850811211.py, line 4)

In [ ]:
#removing non usable rows
out = df1[df1['Category'].eq('')]
out_dropcolumns = out.drop(columns=['Label', 'COST','REVENUE', 'Cat1', 'Cat2', 'is_duplicate?', 'Cat3','Category'])

#create multiple dataframes as per column 'Site'
d = dict(tuple(out_dropcolumns.groupby('Site')))
for i, g in out_dropcolumns.groupby('Site'):
    globals()['df_' + str(i).replace('.','_')] =  g
    
    
out_dropcolumns.sort_values('AdWords_Clicks', ascending=False)
out_dropcolumns.head(2)

In [2]:
# Extract after a string
df['slize'] = df.Campaign_Name.str.extract('-(.*)')

In [ ]:
#skip columns

skip_cols = ['col_a', 'col_b',...,'col_zz']
df = pd.read_excel('Book1.xlsx', usecols=lambda x: x not in skip_cols)

cols = pd.read_excel('Book1.xlsx', nrows=0).columns
df = pd.read_excel('Book1.xlsx', usecols=cols.difference(skip_cols))

#https://stackoverflow.com/questions/49677313/skip-specific-set-of-columns-when-reading-excel-frame-pandas

In [ ]:
df1.shape[0] #count_rows
df1.shape[1] #count_columns

In [5]:
df = pd.DataFrame(np.array([[1, 1], [2, 10], [3, 100], [4, 100]]),
                  columns=['a', 'b'])

In [6]:
df

   a    b
0  1    1
1  2   10
2  3  100
3  4  100

In [8]:
df.quantile(.)

a    1.6
b    6.4
Name: 0.2, dtype: float64